<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>SOS - Shipment Tracking</title>
    <link rel="icon" href="../img/icon.png" type="image/gif" sizes="16x16">
</head>
<body style="background-color: #121212;">
    <div class="header">
        <div id="header-container">
            <a href="../index.html"><img class="logo-header" src="../img/logo-1.png"/></a>
        </div>
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Ride with Us</a></li>
            <li><a class="active"href="invoice.html">Invoice</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </div>
    <div class="content-container">
    </div>
    <form id="content-container"> 
    <form action="/action_page.php">
        <div id="container-register">
            <h1 style="color: black;">Tracking Shipment</h1>
            <p style="color: black;">INVOICE NUMBER:</p>
            <hr>
            
            <label for="email"><b>Invoice Number</b></label>
            <input type="text" id="invoicex" placeholder="16 digits invoice number" name="invoicenum" pattern ="[0-9]{16}" required>
            
            <button type="submit" id="invoicex" class="registerbtn">Check</button>
        </div>
        </div>
    </form>  
</div>
</div>

<div class="footer">
    <h4>Group#6-hacktiv8-queen-fox 2020</h4>
</div>
</body>
</html>