<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sons of Silence</title>
    <link rel="icon" href="../img/icon.png" type="image/gif" sizes="16x16">
</head>
<body style="background-color: #121212;">
    <div class="header">
        <div id="header-container">
            <a href="../index.html"><img class="logo-header" src="../img/logo-1.png"/></a>
        </div>
        <ul>
            <li><a class="active" href="login.html">Login</a></li>
            <li><a href="register.html">Ride with Us</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </div>
    <div class="content-container">
    
    <div>
        <form>
            <h1 >LOGIN</h1>
            <h3>To start online consultation or make an appointment. <br><br>
                Make sure your time will not be wasted!</h3>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
    <br>
    <br>
            <label for="user-pw">Password:</label>
            <input type="password" id="user-pw" name="user-pw">
        </form>
    <br>
        <h4>No Account?<a href="signup.html">Sign Up</a></h4>
        
    </div>    


    </div>
    <div class="footer">
        <h4>Group#6-hacktiv8-queen-fox 2020</h4>
    </div>
</body>
</html>