<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sons of Silence</title>
    <link rel="icon" href="../img/icon.png" type="image/gif" sizes="16x16">
</head>
<body style="background-color: #121212;">
    <div class="header">
        <div id="header-container">
            <a href="../index.html"><img class="logo-header" src="../img/logo-1.png"/></a>
        </div>
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Ride with Us</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a class="active" href="products.html">Products</a></li>
            <li><a href="../index.html">Home</a></li>
        </ul>
    </div>
    <ul id="filter">
        <li><a href="products.html"> All</a></li>&#47;
        <li><a href="jackets.html"> Jackets</a></li>&#47;
        <li><a href="bikes.html"> Bikes</a></li>
    </ul>
</div>
<div class="content-container">
    <div class="content-item">
        <div class="card">
            <img src="../img/m2.jpg" alt="Denim Jeans" style="width:60%">
            <h2>Harley Davidsons Model "Sportster 1200cc" - Caferacer</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/m1.jpg" alt="Denim Jeans" style="width:60%">
            <h2>Royal Enfield Model "500cc" - Caferacer</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/m3.jpg" alt="Denim Jeans" style="width:60%">
            <h2>BMW Model "RnineT 1200cc" - Caferacer</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/m4.jpg" alt="Denim Jeans" style="width:60%">
            <h2>BMW Model "R 80 G/S 800cc" - Caferacer</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/4.jpg" alt="Denim Jeans" style="width:60%">
            <h2>Jaket Kulit "South Side Serpents"</h2>
            <p class="price">IDR 150K</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/1.jpg" alt="Denim Jeans" style="width:60%">
            <h2>Jaket Denim "Phantom Ohio"</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/2.jpg" alt="Denim Jeans" style="width:60%" >
            <h2>Jaket Kulit "Hells Angels England"</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
    <div class="content-item">
        <div class="card">
            <img src="../img/3.jpg" alt="Denim Jeans" style="width:60%">
            <h2>Jaket Denim "Demon Pacifia"</h2>
            <p class="price">$19.99</p>
            <p>Jumlah <input type="number" name="amt" id="amt" size="4px" min="1"/></p>
            <a href="cart.html"><p><button>Add to Cart</button></p></a>
        </div>
    </div>
</div>
<div class="footer">
    <h4>Group#6-hacktiv8-queen-fox 2020</h4>
</div>
</body>
</html>